// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary: #543887;
$secondary: #E3469A;
$lightPrimary: #C5ACF2;
$blue: #45C6D4;
$gray: #BDBDBD;
$lightGray: #F5F5F5;

