@import 'vars';
@import 'fonts';

* {
    text-transform: none !important;
}

a {
    &:active {
        color: #c5acf2 !important;
    }
}

.circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid #bdbdbd;
}

.line {
    height: 1px;
    min-width: 100px;
    width: 100%;
    margin: 0 8px;
    background-color: #bdbdbd;
}

.pointer {
    cursor: pointer;
}
