@import 'vars';

* {
    box-sizing: border-box;
}

a {
  &:active {
    color: #C5ACF2 !important;
  }
}

.circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #BDBDBD;
}

.line {
  height: 1px;
  min-width: 100px;
  width: 100%;
  margin: 0 8px;
  background-color: #BDBDBD;
}

.pointer {
    cursor: pointer;
}
